@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  body {
    @apply bg-slate-900 text-slate-100 font-sans;
    user-select: none;
    -webkit-user-select: none;
  }
}

@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
}
